body{
    background: url(../images/banner.png) center top no-repeat; 
    background-size: cover;
}
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(26,188,156, 0.5);
}
#container-fluid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 0;
}
.card-main{
    width: 900px;
    margin: 0 auto;
}
    .card-main .card-body{
        padding: 40px 50px 50px;
    }
    .card-main h2{
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 50px;
    }
    .field-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0 25px;
    }
        .field-label{
            width: 200px;
            text-align: right;
            font-size: 14px;
        }
        .field-content{
            width: calc(100% - 220px);
            margin-left: auto;
        }
        .field-full-width .field-label{
            font-size: 15px;
            display: block;
            text-align: left;
            width: 100%;
            margin-bottom: 5px;
        }
        .field-full-width .field-content{
            width: 100%;
        }
    .form-control{
        border: 1px solid #ebebeb;
        padding: 15px 20px;
        font-size: 14px;
        height: auto;
    }
    select.form-control{
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url(../images/select-arrow.png) right center no-repeat;
        background-size: auto 50px;
    }
    .req{
        color: #ff0000;
    }
    .card-no-action h2{
        margin: 25px 0;
    }
.card-footer{
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding: 25px;
    color: #666;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
    .card-btn{
        margin-left: auto;
    }
.modal-body{
	padding: 50px 25px 30px;
}
	.modal-content .close{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		opacity: 1;
		text-align: center;
        padding: 4px 20px 8px;
        background: #1abc9c;
		color: #fff;
		outline: none;
		border:none;
	}
	.waitn-txt{
		text-align: center;
		font-size: 24px;
		line-height: 1.3;
		padding-top: 10px;
	}
.btn{
    padding: 11px 35px 12px;
    border: none;
}
.btn-success{
    background: #1abc9c;
}
    .btn-success:hover,
    .btn-success:focus{
        background: #1abc9c;
        opacity: 0.8;
    }

@media(max-width: 991px){
    .card-main{
        width: 750px;
    }
}

@media(max-width: 767px){
	#container-fluid{
		padding: 25px 0;
	}
	.card-main{
        width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
	.card .card-body{
		padding: 30px 20px;
	}
	.field-wrap{
		display: block;
        padding: 0 0 25px;
    }
    .field-label{
        width: 100%;
        text-align: left;
        font-size: 15px;
    }
    .field-content{
        width: 100%;
    }
    .copyright{
    	width: 100%;
    }
    .card-btn{
        width: 100%;
        text-align: center;
    	order: -1;
    	margin-bottom: 15px;
    }
    .waitn-txt{
    	font-size: 20px;
    }
}